<h1 align="center">All articles</h1>
<div align="center">
  <%= will_paginate @all_articles%>
</div>
<%=render 'article', obj: @all_articles %>
<div align="center">
  <%= will_paginate @all_articles%>
</div>
